/* 통합 common css */
/* all */
#login_wrap {
    max-width: 743px; position: relative; margin: 0 auto;
}
#login_wrap #lang_select{
    position: absolute;right: 0;top: 20px;
    width: 95px;border: 1px solid #ccc; padding: 7px;
    background: #fff;
}
#login_wrap #lang_select option{}
#login_wrap header,
#login_wrap footer{text-align: center;}
/* header */
#login_wrap header{padding: 120px 0 30px;}
#login_wrap header h1{}
#login_wrap header h1 a {}
#login_wrap header h1 a::before {
    display: block;content:'';
    background:url(../images/m_sp.png)0 -166px;
    width: 248px; height: 48px; margin: 0 auto;
}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(1) a > span::before{
    background-position-y:-194px ;}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(2) a > span::before{
    background-position-y:-62px ;
}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(3) a > em::before{
    background-position-y:-120px ;
}
.search {
    text-align: center; margin-bottom: 30px;
}
.search a {
    color: #ccc; margin-right: 15px; 
}
.search a::after{    
    content: ''; display: inline-block;  background:#888 ;width: 1px;height: 10px;
    transform: translate(3px, -1px); margin-left: 10px;} 
    .search a:last-child::after{display: none;}
/* footer */
#login_wrap footer {padding: 50px 0 30px;}
#login_wrap footer .f_menu{padding-bottom: 10px;}
#login_wrap footer .f_menu a {color: #888; margin-right: 8px;}
#login_wrap footer .f_menu a::after {
    content: ''; display: inline-block;  background:#888 ;width: 1px;height: 10px;
    transform: translate(7px, -1px); 
}
#login_wrap footer .f_menu a:last-child::after{display: none;}
#login_wrap footer .f_menu a:nth-child(2){font-weight: 700;}
#login_wrap footer address {
    display: flex; align-items: flex-end;
    justify-content: center;
}
#login_wrap footer address .logo {
    background: url(../images/m_sp.png) -316px -104px;
    display: block; content: '';
    width: 136px; height: 26px;
    text-indent: -9999px;
}
#login_wrap footer address .copy{color: #888;}